body {
  margin: 0;
  background-color: #15202b;
}

form {
  width: 100%;
  text-align: center;
}

.add-tweet-div {
  position: relative;
  width: 35%;
  height: 20%;
}

.add-tweet-div textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0 0 10px;
  color: white;
}

button {
  background-color: #37c37f;
  color: white;
  padding: 8px 12px;
  border: 0;
  border-radius: 3px;
  width: fit-content;
}

.add-tweet-div button {
  position: absolute;
  right: 5px;
  bottom: 15px;
}

.tweet {
  text-align: center;
  background-color: #343a40;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 35%;
  margin-top: 5px;
  border-radius: 5px;
  padding-bottom: 5px;
  word-break: break-word;
  white-space: pre-wrap;
}

.tweet .justify-content-between {
  color: #6c757d;
}

.add-tweet-div .alert-danger {
  position: absolute;
  width: fit-content;
  left: 5px;
  bottom: 0px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.tweet-list {
  overflow-y: auto;
  height: 500px;
  padding: 0 10px 10px;
}

@media (max-width: 800px) {
  .add-tweet-div {
    width: 55%;
  }

  .tweet {
    width: 55%;
    word-wrap: break-word;
  }
}

@media (max-width: 600px) {
  .add-tweet-div {
    width: 95%;
  }

  .tweet {
    width: 95%;
  }
}
