body {
  margin: 0;
  background-color: rgb(28, 40, 47);
}

form{
  width: 100%;
  text-align: center;
}

.add-tweet-div{
  position: relative;
  width: 35%;
}

textarea{
  width: 100%;
}

button{
  position: absolute;
  right: 5px;
  bottom: 15px;
}
